@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    font-family: "Pixelify Sans", sans-serif;
}

main,
footer {
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 10vh;
}

h2 {
    font-size: 4vh;
}

img {
    max-height: 40vh;
}